.container {
  right: 150px;
  /*justify-content: left;*/
}

#id {
  background-image: url("TERRACOTA\ 20-07-16\ -\ marcado_NEW.svg");
}

.borrar {
  visibility: hidden;
}

path:hover {
  fill: #c5351c;
}

#demo {
  padding-left: 0%;
  background-color: #EFEFEF;
  text-align: left;
  width: 400px;
}

#planos {
  width: 1800px;
  position: relative;
  top: 40px;
  margin-top: -15px;
  margin-bottom: 60px;
}


/*
#bodyrow{
  border: 2px solid #ce1d1d;
}

#headrow{
  border: 2px solid #a9e00f;
}
*/

#searchbox {
  z-index: 1;
  border: 2px solid #4CAF50;
  height: 300px;
}

#titulo_proy {
  /* border: 2px solid #4CAF50;*/
  height: 300px;
}


/* 
#contenido{
  border: 2px solid #4934a5;
}
*/

#plano {
  position: absolute;
  height: 60%;
  width: 65%;
  left: 10px;
  top: 40px;
}

#elnombre {
  font-family: 'monospace', 'Arial Narrow', Arial, sans-serif;
}

#searchbox {
  z-index: 1;
  /*border: 2px solid #4CAF50;*/
  height: 100px;
}

#titulo_proy {
  /* border: 2px solid #4CAF50;*/
  height: 100px;
  text-align: center;
}

#mycard1 {
  position: fixed;
  width: 315px;
  height: 275px;
  left: 70%;
  top: 100px;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgb(214, 217, 245);
  padding-left: 15px;
  font-family: 'monospace', 'Arial Narrow', Arial, sans-serif;
  visibility: hidden;
  z-index: 1;
}

#mycard2 {
  position: fixed;
  width: auto;
  height: auto;
  left: 70%;
  top: 100px;
  background-color: #ecf5c4;
  box-shadow: 4px 4px 4px rgb(214, 217, 245);
  padding-left: 15px;
  font-family: 'monospace', 'Arial Narrow', Arial, sans-serif;
  font-size:small;
  visibility: hidden;
  z-index: 1;
}

#card-body {
  top: 20px;
  height: 250px;
  width: 180px;
  text-align: center;
  z-index: 1;
}

#interno {
  background-color: #EFEFEF;
  left: 100%;
  width: 100%;
  border: 1px solid gray;
  /* margin: auto auto auto auto; */
  border-radius: 10%;
  padding-left: 10px;
  opacity: .9;
  /* margin-left: 70px; */
  /* box-shadow: 0px 5px 20px 5px rgb(114, 114, 114); */
}

#elpopover {
  text-align: left;
  margin: 0rem;
}

#line {
  border-top: 1px solid cadetblue;
}

#demo {
  /*overflow:hidden;*/
  visibility: hidden;
  height: 400px;
  width: 400px;
  z-index: 3;
  position: relative;
  /*overflow-y:scroll;*/
  overflow-y: scroll;
  /*-webkit-overflow-scrolling: touch;*/
  list-style-type: none;
}

.tooltip {
  background-color: black;
}

#pro {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

#pro1 {
  background-color: #1AED0C;
  color: black;
  border: 1px solid black;
}

#pro2 {
  background-color: #F9F511;
  color: black;
  border: 1px solid black;
}

#pro3 {
  background-color: #FAA668;
  color: black;
  border: 1px solid black;
}

#pro4 {
  background-color: #A0C0F8;
  color: black;
  border: 1px solid black;
}

#pro5 {
  background-color: #00244D;
  color: white;
  border: 1px solid black;
}

#pro6 {
  background-color: #00fea1;
  color: white;
  border: 1px solid black;
}

#pro7 {
  background-color: #b037ce;
  color: white;
  border: 1px solid black;
}



/* Center the loader */

.div-header {
  background-color: #0066ae;
  height: auto;
  width: 100%;
  padding-bottom: 18px;
  padding-top: 15px;
}

.div-principal {
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.div-footer {
  background-color: #474747;
  height: auto;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 19px;
  font-size: 12px;
}

.div-footer a {
  color: white;
  text-decoration: none;
}

.errorReq {
  display: none;
  color: #a94442;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

#loader {
  display: none;
  text-align: center;
}

h1 {
  color: #0066ae;
}

label {
  color: #7f7e7e;
}

.field-sitios {
  color: #7f7e7e;
}

.subtitle {
  color: #0066ae;
}

#asterisco {
  color: #c00;
}

div[class^="col-md-6"] {
  border-style: solid;
  border-width: medium;
  border-color: #7f7e7e;
  padding-bottom: 10px;
}

.a-title {
  color: white;
  display: block;
  font-size: 10px;
  text-align: right;
}

a:hover {
  color: #3b7db7;
  text-decoration: none;
}

.header-cotitle {
  color: white;
  display: block;
  font-size: 18px;
  text-align: right;
}

.g-recaptcha {
  padding-bottom: 10px;
  padding-top: 10px;
}


/* ----- FRONT ----- */

* {
  box-sizing: border-box;
}

.menu {
  margin-top: 10px;
  float: left;
  width: 27%;
  opacity: .9;
}

.menuitem {
  height: 90px;
  padding: 8px;
  margin-top: 10px;
  background-color: #EFEFEF;
  border: 1px solid gray;
}

.main {
  float: left;
  width: 73%;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.footer {
  text-align: center;
  font-size: 14px;
  background-color: #EFEFEF;
  opacity: .9;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 1px;
}

svg {
  width: 1000px;
  height: auto;
  z-index: -1;
  background-color: white;
  border: 1px solid gray;
  padding: 1%;
}

ol {
  border: 1px solid dimgray;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: skyblue;
}

select {
  border: solid 1px black;
  border-radius: 5px;
  padding: 1px;
  background-color: white;
}

select>option {
  background-color: #EFEFEF;
}

.dropbtn {
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  background-color: white;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: gainsboro;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EFEFEF;
  min-width: 160px;
  overflow: auto;
  border: 1px solid dimgray;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: skyblue;
}

.show {
  display: block;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  ul.topnav {
    float: none;
  }
}